openapi: 3.1.0
info:
  title: News API
  description: API for accessing news articles and details.
  version: 1.0.0
servers:
  - url: https://ainvest-api.touzime.com/open
    description: Test Environment
  - url: https://open.ainvest.com/open
    description: Production Environment
tags:
  - name: News
    description: News related operations
security:
  - bearerAuth: []
paths:
  /news/v1/wire/page:
    get:
      tags:
        - News
      summary: Get News Wire Page
      description: Get a paginated list of news feeds based on specified tags.
      operationId: getNewsWirePage
      parameters:
        - name: tab
          in: query
          required: false
          description: |
            Defaults to "all"
            | Parameter Name | Description |
            |----------------|-------------|
            | pro | Paid content |
            | latest | Full content |
            | markets | Markets |
            | stock_ideas | Stock insights |
            | economy | Economy |
            | pre_market | Pre-market |
            | earningscall | Earnings call |
            | all | All content |
          schema:
            type: string
            example: important
            default: all
        - name: stock
          in: query
          required: false
          description: US stock ticker
          schema:
            type: string
            example: AAPL
        - name: industry
          in: query
          required: false
          description: |
            Industry code
            | Parameter Name       | Description            |
            |----------------------|------------------------|
            | software             | Software               |
            | tech_hardware        | Tech Hardware          |
            | chips                | Chips                  |
            | healthcare_equipment | Healthcare Equipment   |
            | pharma               | Pharma                 |
            | banks                | Banks                  |
            | defense              | Defense                |
            | industrials          | Industrials            |
            | consumer_durables    | Consumer Durables      |
            | autos                | Autos                  |
            | staples_retail       | Staples Retail         |
            | energy_equip_serv    | Energy Equip-Serv      |
            | reits                | REITs                  |
            | media                | Media                  |
          schema:
            type: string
            example: software
        - name: start_id
          in: query
          required: false
          description: Start ID, the first page can omit start_id
          schema:
            type: string
            example: '100000'
            default: ''
        - name: size
          in: query
          required: false
          description: Page size, default is 10 items, maximum is 50 items
          schema:
            type: integer
            example: 20
            default: 10
        - name: Accept-Language
          in: header
          required: false
          description: Language
          schema:
            type: string
            example: zh-hans
            default: en
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $schema: http://json-schema.org/draft-04/schema#
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      page:
                        type: number
                        description: Current page
                      size:
                        type: number
                        description: Page size
                      data:
                        type: array
                        items:
                          type: object
                          properties:
                            news_id:
                              type: string
                              description: Content ID
                            news_important:
                              type: number
                              description: Content importance 0-normal 1-push
                            publish_time:
                              type: number
                              description: Content publish time, millisecond timestamp
                            title:
                              type: string
                              description: Content title
                            content:
                              type: string
                              description: Content body
                            source:
                              type: string
                              description: Content author name
                            seo_key:
                              type: string
                              description: Content SEO keywords
                            cover_image:
                              type: object
                              properties:
                                src:
                                  type: string
                                  description: Link
                                type:
                                  type: string
                                  description: Type
                              description: Content cover image
                            source_url:
                              type: string
                              description: Content redirect URL
                            tag_list:
                              type: array
                              items:
                                type: object
                                properties:
                                  code:
                                    type: string
                                    description: Code
                                  market:
                                    type: string
                                    description: Market
                                  name_en:
                                    type: string
                                    description: English name
                                  type:
                                    type: number
                                    description: Type 0-individual stock 1-concept 7-digital currency 4-other business tag
                                required:
                                  - code
                                  - market
                                  - name_en
                                  - type
                              description: Content tag list
                            lang:
                              type: string
                              description: Language
                            read_time:
                              type: string
                              description: Content reading time
                          required:
                            - news_id
                            - news_important
                            - publish_time
                            - title
                            - content
                            - source
                            - seo_key
                            - cover_image
                            - source_url
                            - tag_list
                            - lang
                            - read_time
                        description: Data
                    description: Data
                  status_code:
                    type: number
                    description: Status code
                  status_msg:
                    type: string
                    description: Status message
        '401':
          description: No Auth
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                status_code: 4010
                status_msg: No Auth
        '500':
          description: Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                status_code: 2001
                status_msg: System error
  /news/v1/wire/info/{id}:
    get:
      tags:
        - News
      summary: Get News Wire Info by ID
      description: Get detailed information for a specific news article by ID (seo_key).
      operationId: getNewsInfoById
      parameters:
        - name: id
          in: path
          required: true
          description: seo_key of the page
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $schema: http://json-schema.org/draft-04/schema#
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      content_info:
                        type: object
                        properties:
                          id:
                            type: string
                            description: Unique content platform ID
                          valid:
                            type: number
                            description: 'Online/offline flag: 0-offline, 1-online'
                          title:
                            type: string
                            description: Title
                          content:
                            type: string
                            description: Body
                          media:
                            type: object
                            properties:
                              id:
                                type: string
                                description: ID
                              name:
                                type: string
                                description: Name
                            description: Source
                            required:
                              - id
                              - name
                          ctime:
                            type: number
                            description: Creation time, second timestamp
                          rtime:
                            type: number
                            description: Modification time, millisecond timestamp
                          language:
                            type: string
                            description: Language
                          cover_image:
                            type: string
                            description: Cover image
                          video:
                            type: boolean
                            description: Video
                          audio:
                            type: string
                            description: Audio
                          charge:
                            type: number
                            description: Is charged
                          stock_infos:
                            type: array
                            items:
                              type: string
                            description: Related stocks
                        description: Content data
                        required:
                          - id
                          - valid
                          - title
                          - content
                          - media
                          - ctime
                          - rtime
                          - language
                          - cover_image
                          - video
                          - audio
                          - charge
                          - stock_infos
                      author_info:
                        type: object
                        properties:
                          account_id:
                            type: string
                            description: Community account ID
                          nickname:
                            type: string
                            description: Account nickname
                          account_introduction:
                            type: string
                            description: Introduction
                          portrait:
                            type: string
                            description: Portrait
                        description: Author information
                        required:
                          - account_id
                          - nickname
                          - account_introduction
                          - portrait
                    required:
                      - content_info
                      - author_info
                  status_code:
                    type: number
                    description: Status code
                  status_msg:
                    type: string
                    description: Status message
                required:
                  - data
                  - status_code
                  - status_msg
        '401':
          description: No Auth
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                status_code: 4010
                status_msg: No Auth
        '404':
          description: News Detail Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                status_code: 5202
                status_msg: News detail not found
        '500':
          description: Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                status_code: 2001
                status_msg: System error
components:
  schemas:
    Error:
      type: object
      properties:
        status_code:
          type: integer
          description: Business status code
        status_msg:
          type: string
          description: Error message
      required:
        - status_code
        - status_msg
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: '[Apply for apikey](https://ainvest-www.touzime.com/pricing/developer-manage/#api-key)'