openapi: 3.1.0
info:
  title: News API
  description: API for accessing news articles and details.
  version: 1.0.0
servers:
  - url: https://ainvest-api.touzime.com/open
    description: Test environment
tags:
  - name: News
    description: Operations related to news
security:
  - bearerAuth: []
paths:
  /news/v1/wire/page:
    get:
      tags:
        - News
      summary: Get News Wire Page
      description: Fetches a paginated list of news wires based on the specified tab.
      operationId: getNewsWirePage
      parameters:
        - name: tab
          in: query
          required: true
          description: >-
            Options include pro (paid content), latest (full content), markets, stock_ideas, economy, pre_market, earningscall
          schema:
            type: string
            example: latest
        - name: start_id
          in: query
          required: true
          description: Start ID
          schema:
            type: string
            example: '1'
        - name: size
          in: query
          required: true
          description: Size
          schema:
            type: integer
            example: 10
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $schema: http://json-schema.org/draft-04/schema#
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      page:
                        type: number
                        description: Current page
                      size:
                        type: number
                        description: Page size
                      data:
                        type: array
                        items:
                          type: object
                          properties:
                            news_id:
                              type: string
                              description: Content ID
                            content_id:
                              type: string
                              description: Content platform ID
                            news_type:
                              type: string
                              description: Content type
                            news_from:
                              type: string
                              description: Content generation source
                            news_format:
                              type: string
                              description: Content format
                            news_important:
                              type: number
                              description: Content importance
                            publish_time:
                              type: number
                              description: Content publish time
                            title:
                              type: string
                              description: Content title
                            summary:
                              type: string
                              description: Content summary
                            content:
                              type: string
                              description: Content body
                            source:
                              type: string
                              description: Content author
                            seo_key:
                              type: string
                              description: Content SEO key
                            cover_image:
                              type: object
                              properties:
                                src:
                                  type: string
                                  description: Link
                                type:
                                  type: string
                                  description: Type
                              description: Content cover image
                            source_url:
                              type: string
                              description: Content redirect URL
                            tag_list:
                              type: array
                              items:
                                type: object
                                properties:
                                  code:
                                    type: string
                                    description: Code
                                  market:
                                    type: string
                                    description: Market
                                  name_en:
                                    type: string
                                    description: English name
                                  type:
                                    type: number
                                    description: Type
                                required:
                                  - code
                                  - market
                                  - name_en
                                  - type
                              description: Content tag list
                            lang:
                              type: string
                              description: Language
                            read_time:
                              type: string
                              description: Content reading time
                          required:
                            - news_id
                            - content_id
                            - news_type
                            - news_from
                            - news_format
                            - news_important
                            - publish_time
                            - title
                            - summary
                            - content
                            - source
                            - seo_key
                            - cover_image
                            - source_url
                            - tag_list
                            - lang
                            - read_time
                        description: Data
                    description: Data
                  status_code:
                    type: number
                    description: Status code
                  status_msg:
                    type: string
                    description: Status message
        '401':
          description: No Auth
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                status_code: 4010
                status_msg: no auth
        '500':
          description: Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                status_code: 2001
                status_msg: system error
  /news/info/{id}:
    get:
      tags:
        - News
      summary: Get News Info By ID
      description: Fetches the details of a specific news article by its ID (seo key).
      operationId: getNewsInfoById
      parameters:
        - name: id
          in: path
          required: true
          description: SEO key for pagination
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $schema: http://json-schema.org/draft-04/schema#
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      content_info:
                        type: object
                        properties:
                          id:
                            type: string
                            description: Content platform unique ID
                          biz_id:
                            type: string
                            description: Business ID
                          material_id:
                            type: string
                            description: Material ID
                          valid:
                            type: number
                            description: Online/offline flag 0-offline, 1-online
                          title:
                            type: string
                            description: Title
                          content:
                            type: string
                            description: Body
                          business_code:
                            type: string
                            description: Business code
                          type:
                            type: number
                            description: Content platform business type
                          media:
                            type: object
                            properties:
                              id:
                                type:
                                  - 'null'
                                  - string
                                description: ID
                              name:
                                type: string
                                description: Name
                            description: Source
                            required:
                              - id
                              - name
                          ctime:
                            type: number
                            description: Creation time
                          rtime:
                            type: number
                            description: Modification time
                          summary:
                            type: string
                            description: Summary
                          author:
                            type: object
                            properties:
                              id:
                                type: string
                              name:
                                type:
                                  - 'null'
                                  - string
                                description: Name
                              authorship:
                                type:
                                  - 'null'
                                  - string
                                description: Author authorship
                            description: Author
                            required:
                              - id
                              - name
                              - authorship
                          language:
                            type: string
                            description: Language
                          cover_image:
                            type: string
                            description: Cover image
                          important:
                            type: string
                            description: Importance
                          video:
                            type: boolean
                            description: Video
                          audio:
                            type: string
                            description: Audio
                          charge:
                            type: number
                            description: Is charged
                          price:
                            type: string
                            description: Price
                          picture_urls:
                            type: array
                            items:
                              type: string
                            description: Pictures
                          stock_infos:
                            type: array
                            items:
                              type: string
                            description: Related stocks
                          scenes:
                            type: string
                            description: Scenes
                        description: Content data
                        required:
                          - id
                          - biz_id
                          - material_id
                          - valid
                          - title
                          - content
                          - business_code
                          - type
                          - media
                          - ctime
                          - rtime
                          - summary
                          - author
                          - language
                          - cover_image
                          - important
                          - video
                          - audio
                          - charge
                          - price
                          - picture_urls
                          - stock_infos
                          - scenes
                      author_info:
                        type: object
                        properties:
                          account_id:
                            type: string
                            description: Community account ID
                          nickname:
                            type: string
                            description: Account nickname
                          account_introduction:
                            type: string
                            description: Introduction
                          portrait:
                            type: string
                            description: Portrait
                        description: Author information
                        required:
                          - account_id
                          - nickname
                          - account_introduction
                          - portrait
                      page_info:
                        type: object
                        properties:
                          jump_type:
                            type: number
                            description: 1-Display content bottom page, 2-Jump to source network
                          source_url:
                            type: string
                            description: Source network address
                          read_time:
                            type: number
                            description: Reading time
                        description: Page additional information
                        required:
                          - jump_type
                          - source_url
                          - read_time
                    required:
                      - content_info
                      - author_info
                      - page_info
                  status_code:
                    type: number
                    description: Status code
                  status_msg:
                    type: string
                    description: Status message
                required:
                  - data
                  - status_code
                  - status_msg
        '401':
          description: No Auth
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                status_code: 4010
                status_msg: no auth
        '404':
          description: News Detail Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                status_code: 5202
                status_msg: news detail not found
        '500':
          description: Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                status_code: 2001
                status_msg: system error
components:
  schemas:
    Error:
      type: object
      properties:
        status_code:
          type: integer
          description: Business status code
        status_msg:
          type: string
          description: Error message
      required:
        - status_code
        - status_msg
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer