openapi: 3.1.0
info:
  title: News API
  description: 用于访问新闻文章和详情的API。
  version: 1.0.0
servers:
  - url: https://ainvest-api.touzime.com/open
    description: 测试环境
  - url: https://open.ainvest.com/open
    description: 生产环境
tags:
  - name: News
    description: 与新闻相关的操作
security:
  - bearerAuth: []
paths:
  /news/v1/wire/page:
    get:
      tags:
        - News
      summary: 获取新闻动态分页
      description: 根据指定的标签获取新闻动态分页列表。
      operationId: getNewsWirePage
      parameters:
        - name: tab
          in: query
          required: false
          description: >-
            默认为 “all“
            有all、important、movers、earnings、insider_trades、technical、8k、twitter可选
          schema:
            type: string
            example: important
            default: all
        - name: stock
          in: query
          required: false
          description: 美股股票代码
          schema:
            type: string
            example: AAPL
        - name: industry
          in: query
          required: false
          description: 行业代码
          schema:
            type: string
            example: software
        - name: start_id
          in: query
          required: false
          description: 开始ID，第一页可以不传 start_id
          schema:
            type: string
            example: '100000'
            default: ''
        - name: size
          in: query
          required: false
          description: 页大小，默认 为 10 条，最大为 50 条
          schema:
            type: integer
            example: 20
            default: 10
        - name: lang
          in: header
          required: false
          description: >-
            | 语种       | 代码   |
            |------------|--------|
            | 印尼语     | id     |
            | 德语       | de     |
            | 日语       | ja     |
            | 法语       | fr     |
            | 简体中文   | zh-hans|
            | 繁体中文   | zh-hant|
            | 英语       | en     |
            | 西班牙语   | es     |
            | 越南语     | vi     |
            | 阿拉伯语   | ar     |
            | 韩语       | ko     |
            | 马来语     | ms     |
            | 泰语       | th     |
            | 希伯来语   | he     |
            | 葡萄牙语   | pt     | 
          schema:
            type: string
            example: zh-hans
            default: en
      responses:
        '200':
          description: 成功
          content:
            application/json:
              schema:
                $schema: http://json-schema.org/draft-04/schema#
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      page:
                        type: number
                        description: 当前页
                      size:
                        type: number
                        description: 页数
                      data:
                        type: array
                        items:
                          type: object
                          properties:
                            news_id:
                              type: string
                              description: 内容ID
                            news_important:
                              type: number
                              description: 内容重要度 0-普通 1-推送
                            publish_time:
                              type: number
                              description: 内容发布时间 毫秒级时间戳
                            title:
                              type: string
                              description: 内容标题
                            content:
                              type: string
                              description: 内容正文
                            source:
                              type: string
                              description: 内容作者名称
                            seo_key:
                              type: string
                              description: 内容SEO关键字
                            cover_image:
                              type: object
                              properties:
                                src:
                                  type: string
                                  description: 链接
                                type:
                                  type: string
                                  description: 类型
                              description: 内容封面图
                            source_url:
                              type: string
                              description: 内容跳转地址
                            tag_list:
                              type: array
                              items:
                                type: object
                                properties:
                                  code:
                                    type: string
                                    description: 代码
                                  market:
                                    type: string
                                    description: 市场
                                  name_en:
                                    type: string
                                    description: 英文名
                                  type:
                                    type: number
                                    description: 类型 0-个股 1-概念 7-数字币 4-其他业务标签
                                required:
                                  - code
                                  - market
                                  - name_en
                                  - type
                              description: 内容标签列表
                            lang:
                              type: string
                              description: 语言
                            read_time:
                              type: string
                              description: 内容阅读时长
                          required:
                            - news_id
                            - news_important
                            - publish_time
                            - title
                            - content
                            - source
                            - seo_key
                            - cover_image
                            - source_url
                            - tag_list
                            - lang
                            - read_time
                        description: 数据
                    description: 数据
                  status_code:
                    type: number
                    description: 状态码
                  status_msg:
                    type: string
                    description: 状态信息
        '401':
          description: 没有权限 (No Auth)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                status_code: 4010
                status_msg: 没有权限
        '500':
          description: 服务端错误 (Server Error)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                status_code: 2001
                status_msg: 系统错误
  /news/v1/wire/info/{id}:
    get:
      tags:
        - News
      summary: 获取新闻动态详情
      description: 通过ID（SEO关键字）获取特定新闻文章的详细信息。
      operationId: getNewsInfoById
      parameters:
        - name: id
          in: path
          required: true
          description: 分页的SEO关键字值
          schema:
            type: string
      responses:
        '200':
          description: 成功
          content:
            application/json:
              schema:
                $schema: http://json-schema.org/draft-04/schema#
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      content_info:
                        type: object
                        properties:
                          id:
                            type: string
                            description: 内容平台唯一ID
                          valid:
                            type: number
                            description: 上下线标识：0-下线，1-上线
                          title:
                            type: string
                            description: 标题
                          content:
                            type: string
                            description: 正文
                          media:
                            type: object
                            properties:
                              id:
                                type: string
                                description: ID
                              name:
                                type: string
                                description: 名称
                            description: 来源
                            required:
                              - id
                              - name
                          ctime:
                            type: number
                            description: 创建时间 秒级时间戳
                          rtime:
                            type: number
                            description: 修改时间 毫秒级时间戳
                          language:
                            type: string
                            description: 语言 
                          cover_image:
                            type: string
                            description: 封面图
                          video:
                            type: boolean
                            description: 视频
                          audio:
                            type: string
                            description: 音频
                          charge:
                            type: number
                            description: 是否收费
                          stock_infos:
                            type: array
                            items:
                              type: string
                            description: 关联股票
                        description: 内容数据
                        required:
                          - id
                          - valid
                          - title
                          - content
                          - media
                          - ctime
                          - rtime
                          - language
                          - cover_image
                          - video
                          - audio
                          - charge
                          - stock_infos
                      author_info:
                        type: object
                        properties:
                          account_id:
                            type: string
                            description: 社区账户ID
                          nickname:
                            type: string
                            description: 账户昵称
                          account_introduction:
                            type: string
                            description: 简介
                          portrait:
                            type: string
                            description: 头像
                        description: 作者信息
                        required:
                          - account_id
                          - nickname
                          - account_introduction
                          - portrait
                    required:
                      - content_info
                      - author_info
                  status_code:
                    type: number
                    description: 状态码
                  status_msg:
                    type: string
                    description: 状态信息
                required:
                  - data
                  - status_code
                  - status_msg
        '401':
          description: 没有权限 (No Auth)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                status_code: 4010
                status_msg: 没有权限
        '404':
          description: 详情页未找到 (News Detail Not Found)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                status_code: 5202
                status_msg: 新闻详情未找到
        '500':
          description: 服务端错误 (Server Error)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                status_code: 2001
                status_msg: 系统错误
components:
  schemas:
    Error:
      type: object
      properties:
        status_code:
          type: integer
          description: 业务状态码
        status_msg:
          type: string
          description: 错误信息
      required:
        - status_code
        - status_msg
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: '[申请 apikey](https://ainvest.com)'